body {
    padding-top: 50px;
}

.browserupgrade {
    background-color: #FFFF00;
    padding: 100px;
    margin: 0;
    margin-top: -50px;
}

.escenario {
    width: 500px;
    height: 500px;
    background-image: url('../img/fondo.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px;
    overflow: hidden;
}

.controles {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: 255px;
    margin-left: -250px;
}

.carretera-superior, 
.carretera-inferior {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.puente {
    width: 100%;
    height: 158px;
    overflow: hidden;
}

.puente > .semaforo {
    z-index: 100;;
    width: 30px;
    height: 30px;
    position: absolute;
}

.puente > .semaforo.verde {
    background-image: url('../img/verde.png');
}

.puente > .semaforo.rojo {
    background-image: url('../img/rojo.png');
}

.puente > .semaforo:first-child {
    left: 175px;
}

.puente > .semaforo:last-child {
    top: 298px;
    left: 305px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.carril {
    width: 100px;
    height: 100%;
    float: left;
}

.carril:first-child {
    margin-left: 150px;
}

.puente > .carril {
    margin-left: 200px;
}

.carro {
    position: absolute;
    background: url('../img/cars.png') no-repeat -11px -13px;
    width: 17px;
    height: 32px;
}

.carro.estilo-1 {
    background-position: -11px -13px;
}

.carro.estilo-2 {
    background-position: -55px -13px;
}

.carro.estilo-3 {
    background-position: -105px -13px;
}

.carro.estilo-4 {
    background-position: -149px -13px;
}

.carro.estilo-5 {
    background-position: -195px -13px;
}

.carro.estilo-6 {
    background-position: -241px -13px;
}

.carro.estilo-7 {
    background-position: -11px -88px;
}

.carro.estilo-8 {
    background-position: -55px -88px;
}

.carro.estilo-9 {
    background-position: -105px -88px;
}

.carro.estilo-10 {
    background-position: -149px -88px;
}

.carro.estilo-11 {
    background-position: -195px -88px;
}

.carro.estilo-12 {
    background-position: -241px -88px;
}

.carro.estilo-13 {
    background-position: -11px -159px;
}

.carro.estilo-14 {
    background-position: -55px -159px;
}

.carro.estilo-15 {
    background-position: -105px -159px;
}

.carro.estilo-16 {
    background-position: -149px -159px;
}

.carro.estilo-17 {
    background-position: -195px -159px;
}

.carro.estilo-18 {
    background-position: -241px -159px;
}

@media all and (max-height: 620px) {
    .escenario {
        top: 52px;
        margin-top: 0;
    }
    
    .controles {
        top: 552px;
        margin-top: 0;
    }
}

@media all and (max-width: 510px) {
    .escenario {
        left: 2px;
        margin-left: 0;
    }

    .controles {
        left: 2px;
        margin-left: 0;
    }  
}