<div>
    <h1>Documentaci&oacute;n</h1>

    <h2>Integrantes</h2>

    <div class="row">
        <div class="col-lg-12">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://www.gravatar.com/avatar/9f652b021625996cb06c499018d02cb7" alt="090-10-2854">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jos&eacute; Eduardo Cabrera Ipi&ntilde;a</h4>
                        <span>090-10-2854</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://www.gravatar.com/avatar/8c21becec50e0151cfbb906029c4e3a9" alt="090-93-33335">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jorge David Vel&aacute;squez Sim</h4>
                        <span>090-93-33335</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://www.gravatar.com/avatar/064b1ed78e270323206559272d347fd4" alt="090-03-4873">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Miguel Eduardo Rom&aacute;n Mart&iacute;nez</h4>
                        <span>090-03-4873</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://www.gravatar.com/avatar/0b6acbfbb8be3f0a86cfaa5a542773d8" alt="090-99-3578">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Erick Geovany &Aacute;lvarez &Aacute;lvarez</h4>
                        <span>090-99-3578</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>