<div class="escenario">
    <div class="carretera-superior">
        <div class="carril izquierdo"></div>
        <div class="carril derecho"></div>
    </div>
    <div class="puente">
        <div class="carril"></div>
    </div>
    <div class="carretera-inferior">
        <div class="carril izquierdo"></div>
        <div class="carril derecho"></div>
    </div>
    <div ng-repeat="carro in vm.colaBajada" ng-class="{ carro: true, subida: carro.deSubida, bajada: !carro.deSubida }" ng-style="carro.style"></div>
    <div ng-repeat="carro in vm.colaSubida" ng-class="{ carro: true, subida: carro.deSubida, bajada: !carro.deSubida }" ng-style="carro.style"></div>
    <div ng-repeat="carro in vm.colaBajando" ng-class="{ carro: true, subida: carro.deSubida, bajada: !carro.deSubida }" ng-style="carro.style"></div>
    <div ng-repeat="carro in vm.colaSubiendo" ng-class="{ carro: true, subida: carro.deSubida, bajada: !carro.deSubida }" ng-style="carro.style"></div>
</div>
<div class="controles">
    <div class="btn-group">
        <button class="btn btn-default" ng-click="vm.agregarCarroBajada()" title="Generar Carro de Bajada"><i class="glyphicon glyphicon-arrow-down"></i></button>
        <button class="btn btn-default" ng-click="vm.agregarCarroSubida()" title="Generar Carro de Subida"><i class="glyphicon glyphicon-arrow-up"></i></button>
        <button class="btn btn-default" ng-click="vm.playPause()" title="{{!!vm.intervalId ? 'Pausa' : 'Play'}}"><i class="glyphicon glyphicon-pause" ng-show="!!vm.intervalId"></i><i class="glyphicon glyphicon-play" ng-show="!vm.intervalId"></i></button>
        <button class="btn btn-default" ng-click="vm.generarActivo = !vm.generarActivo" title="{{vm.generarActivo ? 'Detener carros aleatorios': 'Generar carros aleatorios'}}"><i class="glyphicon glyphicon glyphicon-random"></i></button>
    </div>
</div>